body {
    background-color: yellow;
color: black;}

h1 {
    color: darkblue;
    text-align: center;

.menu {color: red;
background-color: black;}
a {
  color: red;
background-color: black;}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 50px;
}
